@import 'lib/style';

.outer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $lightGrayColor;
  padding: 8px;
}

.container {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  background: white;
  max-width: 480px;
  border: 1px solid rgba($grayColor, 0.3);
  box-sizing: border-box;
  border-radius: 12px;
  padding-bottom: 16px;
  margin: 0 auto;
}

.header {
  display: block;
  padding: 16px 0 12px 16px;
}

.header {
  @include title-text;
  color: $blackColor;
}
.navBar{
  display: flex;
  margin-bottom: 15px;
}
.button{
  @include body-medium-text;
  display: block;
  margin-left: 35px;
  padding:8px 10px;
  border-radius: 5px;
  font-size:12px;
  background-color:rgb(110, 110, 110);
  color:#fff;
  border: none;
}
.button:hover{
  background-color:rgb(168, 168, 168);
}
.active{
  background-color:rgb(146, 146, 146);
}
.unActive{
  background-color:rgb(196, 196, 196);
}
hr{
  width: 80%;
  height: 1px;
  background-color: gray;
  border-radius: 8px;
}
.subTitle{
  @include body-medium-text;
  margin-left: 35px;
  color: rgb(255, 255, 255);
  background-color: rgb(196, 196, 196);
  padding:5px 10px ;
  border-radius: 8px;
}
